.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  padding: 30px;
}

.header__icon {
  object-fit: contain;
  height: 30px;
  margin: 5px;
}
.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 20px;
  border: 1px solid lightgray;
  border-radius: 999px;
}
.header__center > input {
  border: none;
  width: 100px;
  outline-width: 0;
}

.header__right {
  display: flex;
  align-items: center;
}
